:root {
  --main-bg: #242424;
  --modal-bg: #595959;
  --border-radius: 10px;
  --button-bg: #efefef;
  --button-radius: 100px;
  --font-color: #f5f5f5;
  --font-size: 14px;
  --font-family: "Libre Franklin", sans-serif;
  --accent-color: #ff6854;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 16px;
  font-family: var(--font-family);
  background: var(--main-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

button {
  outline: none;
  padding: 16px 8px;
  border: none;
  border-radius: var(--button-radius);
  background: var(--button-bg);
  font-size: var(--font-size);
  font-weight: 500;
  font-family: var(--font-family);
}
button.primary {
  background-color: var(--accent-color);
  color: white;
}

button:hover {
  filter: brightness(90%);
}

button.active {
  background: red;
}

label {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

input {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  background: white;
  height: 2px;
  position: relative;
  outline: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid white;
  background: white;
  height: 16px;
  width: 16px;
  border-radius: 1000px;
  cursor: pointer;
}

select {
  padding: 8px;
  font-size: var(--font-size);
}

img {
  display: block;
  border: 1px solid red;
}
/* Custom components */

/* Overlay */

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

/* Modal */

.modal {
  background: var(--modal-bg);
  border-radius: var(--border-radius);
  padding: 24px;
  color: white;
}

/* Controls */

.controls-reactions {
  display: flex;
  justify-content: center;
}

.controls-reactions button {
  background: none;
  font-size: 24px;
}

.controls-buttons {
  background: #efefef;
  border-radius: 1000px;
  padding: 0 18px;
}

.controls-buttons button {
  background: none;
  border-radius: 0;
}
.controls-buttons button:hover {
  background: #eee;
}
.controls-buttons button.active {
  background: #ddd;
}
.controls-buttons button.active:hover {
  background: #dadada;
}

/* Bubble */

.bubble {
  background: transparent;
  border: 1px solid #ffffff;
  box-shadow: inset 0px 0px 100px #ffffff;
  border-radius: 10000px;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 0;
  transition: all 600ms ease-in-out;
}
.bubble:hover {
  transform: scale(1.05);
}
