* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 16px;
  font-family: sans-serif;
  background: white;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

button {
  outline: none;
  border-radius: 12px;
  background: #ffffff;
  padding: 8px;
  border: none;
}

button:hover {
  background: rgb(230, 230, 230);
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  background: white;
  height: 2px;
  position: relative;
  outline: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid white;
  background: white;
  height: 16px;
  width: 16px;
  border-radius: 1000px;
  cursor: pointer;
}

.toolbar {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  color: white;
}
.toolbar > * {
  margin-right: 8px;
}
.toolbar > *:last-child {
  margin-right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.overlay > * {
  background: rgba(0, 0, 0, 0.5);
  padding: 24px;
  color: white;
  border-radius: 8px;
}

/* Controls */

.controls-reactions {
  display: flex;
  justify-content: center;
}

.controls-reactions button {
  background: none;
}

.controls-buttons {
  background: #efefef;
  border-radius: 1000px;
  padding: 0 8px;
}

.controls-buttons button {
  background: none;
}
